<!DOCTYPE html>
<html>

<head>
  <title>Survey</title>
  <link rel="icon" href="./dog.ico" type="image/x-icon">
  <link rel="shortcut icon" href="./dog.ico" type="image/x-icon">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">


  <style>
    body {
      padding: 2% 10%;
    }

    .form-control {
      border-radius: 20px;  /* 圆角 */
      border: 1px solid #ced4da; /* 边框颜色 */
    }

    #submitBtn {
      margin-top: 20px;
      border-radius: 20px;  /* 圆角 */
    }
  </style>

  <script>
      async function loadSites() {
      try {
      const response = await fetch("/api/randomWebsites");
      const sites = await response.json();
      const form = document.getElementById("surveyForm");
      sites.forEach((site, index) => {
      const div = document.createElement("div");
      div.className = "form-check"; // Using Bootstrap class

      const checkbox = document.createElement("input");
      checkbox.type = "checkbox";
      checkbox.className = "form-check-input"; // Bootstrap class
      checkbox.name = "site";
      checkbox.value = site.id;
      checkbox.id = "site" + index;

      const label = document.createElement("label");
      label.htmlFor = "site" + index;
      label.className = "form-check-label"; // Bootstrap class
      label.textContent = site.title + ' (' + site.currUrl + ')';

      div.appendChild(checkbox);
      div.appendChild(label);
      form.insertBefore(div, document.getElementById("submitBtn"));
    });
    } catch (err) {
      console.error("Error loading sites: ", err);
    }
    }

    async function submitForm() {
      const form = document.getElementById("surveyForm");
      const formData = new FormData(form);

      const likedSites = [];
      formData.getAll("site").forEach(id => likedSites.push(id));

      if (likedSites.length === 0) {
        alert("Please select at least one paper.");
        return; // Stop the function here
      }

      const userId = localStorage.getItem("userId");

      if (!userId) {
        alert("User ID not found in local storage.");
        return;
      }

      const dataToSend = {
        userId: userId,
        interestedWebsites: likedSites
      };

      try {
        const response = await fetch("/api/saveInterest", {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(dataToSend)
        });
        if (response.ok) {
          alert("Thank you for completing the survey!");
          localStorage.removeItem("userId");
          window.location.href = "http://localhost:8080";
        } else {
          alert("There was an error. Please try again.");
        }
      } catch (err) {
        console.error("Error submitting data: ", err);
      }
    }

    window.onload = loadSites;
  </script>

</head>

<body>

<div class="container mt-4">
  <h2>Welcome to the Survey</h2>
  <div class="d-flex justify-content-between align-items-center">
    <a href="/" class="btn btn-secondary mb-3">Return</a>
  </div>
  <p class="lead mb-4">Please Select the paper you like:</p>

  <form id="surveyForm" class="mb-3">
    <!-- Sites will be loaded dynamically here -->
    <button type="button" id="submitBtn" onclick="submitForm()" class="btn btn-primary mt-3">Submit</button>
  </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>
